name: Recap

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Name"
        required: true
        type: string
        default: "Aditya"

      country:
        description: "Country"
        required: true
        type: string
        default: "India"

      city:
        description: "City"
        required: true
        type: string
        default: "Hyderabad"

jobs:
  greet:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Say Hello
        run: echo "Hello ${{ inputs.name }} from ${{ inputs.city }}, ${{ inputs.country }}"
