name: 03 Matrix Strategies

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-server:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: './app/package-lock.json'

      - name: Install Dependencies
        working-directory: ./app
        run: npm ci

      - name: Run Tests
        working-directory: ./app
        run: npm test
