name: 04 Deploy to AWS EC2

on:
#   push:
#     branches:
#       - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.2.5
        with:
          # Make sure these secrets are set in your repository settings!
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Pull latest changes
            cd /home/ubuntu/colour-fun
            git pull origin main

            # Build frontend
            cd app
            npm install
            npm run build
            # Assuming Nginx is serving the build folder directly
            # or copy to /var/www/html
            sudo cp -r dist/* /var/www/html/
